/* elements */

a {
  color: white !important;
}

a:hover {
  color: pink !important;
  text-decoration: none !important;
}

body {
  background-color: #ededed;
}

footer {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

/* classes */

/* header */

.active.navbar-brand {
  color: pink !important;
}

nav a:hover {
  color: pink !important;
}

.navbar-dark .navbar-brand {
  color:pink;
}

/* profile section */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.profile-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.profile-img {
  max-width: 90%;
}

.profile-text {
  padding: 20px;
}

/* skills section */

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
}

.skill-icon {
  width: 100px;
  padding: 10px;
}

/* projects section */

.portfolio-header {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.project-container {
  margin-bottom: 10px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.project-card a,
.project-p {
  text-align: center;
}

.project-card {
  margin: 4px;
}

.project-img {
  max-width: 200px;
  padding-bottom: 6px;
}

/* other */

.google-books-link {
  text-align: right;
}

.google-search-link {
  text-align: left;
}

.copyright {
  color: black;
  background-color: pink;
  text-align: center;
  padding-bottom: 6px;
  padding-top: 6px;
}